<div id="splash-header"> </div>
<h1>NDTO</h1>
<h5>INDIE TOURNAMENT ORGANIZER FOR MAGIC THE GATHERING</h5>
<div class="splash-around"> 
  <a href="users/sign_in" class="button large success">SIGN IN</a> 
  <a href="users/sign_up" class="button large primary">SIGN UP</a> 
</div>