<div id="splash-header"> 
  <h5 class="notice splash-subhead"><%= notice %></h5>
  <h5 class="alert splash-subhead"><%= alert %></h5>        
</div>

<h1 class="splash-title">NDTO</h1>

<h5 class="splash-subhead">INDIE TOURNAMENT ORGANIZER FOR MAGIC THE GATHERING</h5>

<div class="splash-around"> 
  <a href="users/sign_in" class="button large success shadow">LOG IN</a> 
  <a href="users/sign_up" class="button large primary shadow">SIGN UP</a> 
</div>

  <% if user_signed_in? %>   
    <div class="callout success shadow">  
      <a href="tournaments/" class="button large warning expanded shadow">GO TO TOURNAMENTS</a>  
      <%-# image_tag("icon") -%>
      <p>Signed in as <%= current_user.username %>. Not you? </p>
      <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete, class: "button small secondary shadow" %>
    </div>
  <% end %>
