#splash-root {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#splash-bg {
  margin: 0;
  padding: 0; 
  background-image: 
    linear-gradient(
    to top, rgba(55, 55, 55, 0.6), 
  rgba(255, 255, 255, 0.1)), 
    url(../images/bg_history_1040.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#splash-header {
  width: 100%;
  height: 29vh;
}

h1 {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 900;
  text-shadow: white -1px -5px 10px;
}

h5 {
  color: white;
  text-shadow: 1px 4px 6px black;
  text-transform: uppercase;
}

.splash-around {
  margin-top: 10px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shadow {
  webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.75);
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.75);
}







// @media only screen and (max-width: 600px) {
//   .test-responsive {
//       background-color: lightblue;
//   }
// }